.header {
  .shell {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #ccc;

    .nav {
      flex-grow: 0;
      padding: 20px;
      background-color: #333;
      color: white;
      margin-right: 1px;
      cursor: pointer;
    }
  }
}

:global(.override).initial {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 3px 0 0 10px;
  float: right;
}
