.deck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 10px;

  .thumb {
    width: 100px;
    padding: 10px;
  }
}

.initial {
  margin-left: 8px;
}
