.login {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-wrap: wrap;

  .initial {
    height: 38px;
    width: 150px;
    font-size: 20px;
    border: 1px solid #d2d2d2;
    display: block;
    padding: 0 10px;
    margin: 0 5px 10px;
  }

  .join {
    height: 40px;
    background-color: skyblue;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px 10px;
  }
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

:global {
  .react-dropdown-select.select {
    border-radius: 0;
    padding: 0 10px;
    height: 38px;
    min-height: unset;
    font-size: 20px;
    border: 1px solid #d2d2d2;
    margin: 0 5px 10px;
    width: 250px;
  }
}
