.list {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: -40px;

  .bkgd {
    border-radius: 20px;
    background-color: white;
    max-width: 1200px;
    width: 100%;
    min-height: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;

    .btn {
      border-radius: 30px;
      background-color: #fd7849;
      padding: 0 40px;
      border: none;
      height: 50px;
      outline: none;
      margin: 0 10px;
      cursor: pointer;

      &:hover {
        background-color: #3477c7;
      }

      &:active {
        background-color: #b2e1e3;
      }

      &:disabled {
        background-color: #3477c7;
        opacity: 0.5;
        cursor: not-allowed;
      }

      .btn-txt {
        color: white;
        font-size: 16px;
        font-weight: bold;
      }

      .btn-load,
      .dots {
        color: white;
        font-size: 16px;
        font-weight: bold;
      }

      .dots {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;
      }
    }
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow:
      0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      0.25em 0 0 white,
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      0.25em 0 0 white,
      0.5em 0 0 white;
  }
}
