.spell-bee {
  select,
  button,
  input {
    display: block;
  }

  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: yellow;

  .container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: orange;
  }
}
