html,
body {
  background-color: orange;
}

.spell-bee {
  select,
  button,
  input {
    display: block;
    font-size: 24px;
    border: none;
  }

  select,
  input {
    border: 1px solid black;
  }

  button {
    border: none;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: black;
    padding: 0 20px;
    cursor: pointer;

    &:active,
    &:hover {
      background-color: red;
    }

    &:disabled {
      display: none;
    }
  }

  display: flex;
  justify-content: center;
  width: 100%;

  .container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: yellow;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .dropdown {
        height: 50px;
        width: 200px;
        padding-left: 10px;
        border-radius: 50px;
      }
    }

    .score {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .txt {
      font-weight: bold;
      font-size: 24px;
    }

    .content {
      .say {
        margin: 0 auto 20px;
      }

      .answer {
        display: flex;
        justify-content: center;

        .typed {
          height: 50px;
          padding: 0 20px;
          border-radius: 50px;
          text-align: center;
        }

        .btn-tick,
        .btn-cross {
          margin-left: 20px;

          svg {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            border-radius: 50px;
            background-color: white;
          }
        }

        .btn-tick {
          svg {
            fill: green;
          }
        }

        .btn-cross {
          svg {
            fill: red;
          }
        }
      }

      .correct-answer {
        height: 40px;
        text-align: center;
        margin-bottom: 20px;
      }

      .btn-check-next {
        display: flex;
        justify-content: flex-end;
      }
    }

    .timeline {
      display: flex;
      padding: 20px;
      border-radius: 50px;
      border: 1px solid black;
      flex-wrap: wrap;
      overflow: hidden;

      li {
        font-size: 24px;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 5px;
        border-radius: 10px;

        &.timeline-wrong {
          background-color: red;
          color: white;
        }
      }
    }

    .credit {
      text-align: center;
      font-size: 12px;
      margin-top: 40px;
      color: #999;

      a {
        color: #999;
        text-decoration-line: none;
      }
    }
  }
}
